$post-content-font-size-px: 22px;
$post-content-font-size: rem-calc($post-content-font-size-px);
$post-name-padding-bottom-px: 40px;
$post-name-font-size-px: 50px;
$post-name-font-size: rem-calc($post-name-font-size-px);
$post-name-font-size-sm-px: 32px;
$post-name-font-size-sm: rem-calc($post-name-font-size-sm-px);

// Project card

.project-card,
.post-card {
  margin-bottom: rem-calc(30px);

  text-align: center;

  .name {
    font-size: rem-calc(22px);

    margin-bottom: rem-calc(20px);

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .desc {
  }

  .card-content {
    padding-top: rem-calc(10px);
    padding-right: rem-calc(16px);
    padding-bottom: rem-calc(16px);
    padding-left: rem-calc(16px);
  }

  .card-controls {
    display: flex;

    padding-top: rem-calc(10px);
    padding-right: rem-calc(10px);
    padding-left: rem-calc(10px);

    justify-content: flex-end;

    .control {
      padding-left: rem-calc(4px);

      a {
        font-size: rem-calc(18px);

        color: rgba(10, 10, 10, 0.2);

        &:hover {
          color: rgba(10, 10, 10, 0.3);
        }
      }
    }
  }
}

// Post view

.post-view {
  .post-name {
    font-size: $post-name-font-size;

    margin-bottom: $post-name-padding-bottom-px;
  }

  .post-audio {
    margin-top: 10px;
    margin-bottom: 30px;

    text-align: center;
  }

  .post-content {
    font-size: $post-content-font-size;
  }
}

.post-view-section {
  padding-bottom: rem-calc(100px);
}

@include until($tablet) {
  .post-view {
    .post-name {
      font-size: $post-name-font-size-sm;
    }
  }

  .project-card,
  .post-card {
    .name {
      font-size: rem-calc(18px);
    }
  }
}
