// Bulma
$menu-label-font-size: rem-calc(14px);
$menu-item-hover-background-color: rgba(91, 164, 229, 0.2);


// Forms
$input-border-color: #ced4da;
$input-hover-border-color: #afb5ba !default;
$input-focus-box-shadow-size: 0 0 0 0.2rem !default;
$input-focus-border-color: #afb5ba !default;


$breadcrumb-item-color: #4183c4 !default;
$breadcrumb-item-hover-color: #4183c4 !default;
$breadcrumb-item-active-color: #aaa !default;
$breadcrumb-item-padding-vertical: 0 !default;
$breadcrumb-item-padding-horizontal: rem-calc(6px) !default;

// Modal
$modal-z: 1500 !default;

$dropdown-item-hover-background-color: rgba(91, 164, 229, 0.15) !default;

